
body{

    font-family: 'Roboto', sans-serif;
}

.container{

    max-width: 1200px;
}

.mybanner{

    padding-top: 200px;
    
}

.banner-subtitle{
    color:#2B70FA;
    font-size: 16px;
    font-weight: 500;
}

.banner-title{

    font-size: 60px;
    line-height: 70px;
    
}

.banner-p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #505056;
}


.border-btn{
    border:none
    
}

.background-status{

    background-color: transparent;
}


.border-bt{

    padding: 8px 20px;
    border-radius: 6px;
    transition: all 0.5s;
}

.text-btn{
    background: #0e1133;
    color: #fff;
    line-height: 40px;
    padding: 0 23px;
    border-radius: 6px;
    border: 2px solid #0e1133;
    
}


.text-link{
    color: white;
    text-decoration: none;
}

.text.bt{

    
    color: #fff;
    line-height: 40px;
    padding: 0 23px;
    border-radius: 6px;
    border: 2px solid #0e1133;
}


.text-li{
    color: #0e1133;
    text-decoration: none;
}

.banner-img{

    margin-left: 270px;
    margin-top: 130px;
    height: 500px;
    width: 500px;
    transform: translate(-50%, -50%);
    background: #ff3e66;
    border-radius: 50%;
   
}

.img-hero{

    margin-left: 100px;
    margin-block: -40px;
}
 
    
    



