
body{

    font-family: 'Roboto', sans-serif;
}

.container{

    max-width: 1200px;
}

.mybanner{

    padding-top: 200px;
    
}

.banner-subtitle{
    color:#2B70FA;
    font-size: 16px;
    font-weight: 500;
}

.banner-title{

    font-size: 60px;
    line-height: 70px;
    
}

.banner-p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #505056;
}

.banner-img{

    margin-left: 270px;
    margin-top: 130px;
    height: 500px;
    width: 500px;
    transform: translate(-50%, -50%);
    background: #ff3e66;
    border-radius: 50%;
   
}

.img-hero{

    margin-left: 100px;
    margin-block: -40px;
}

.link-ios{

    border-radius: 10px;
    text-decoration: none;
    background-color: #0E1133;
    color: white;
    padding: 10px 17px;
}
 
.link-android{

    border-radius: 10px;
    text-decoration: none;
    background-color: white;
    color: #0E1133;
    padding: 10px 17px;
    border: 1px solid #0E1133;
}

.link-ios:hover{

    background-color: white;
    color: #0E1133;

}

.link-android:hover{

    background-color: #0E1133;
    color: white;
}
    



















    
    



